@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #515d94
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


p {
    font-size: 1.3rem;
    color:  #1A202C;
    margin-top: 0;
    margin-bottom: 1rem;
}


h1{
    font-weight: 500;
    line-height: 1.2
}

h3 {
    margin-top: 2em;
}

h1, h3 {
    color: #1A202C;
    margin-bottom: .5rem;    
}

sub {
    color: #191919;
}

pre[class*="language-"] {
    border-radius: 1px;    
}

ul {
    list-style: none;
}


#logo {
    padding: 20px 10px;
}

#footer {
    width: 960px;
    margin: 0 auto;
}

#footer p {
    color: #717375;
}


.container {
    padding: 15px;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    width: 960px;
}

.sidebar {
    background-color: #757ea51c;
    border-radius: 1px;
    position: sticky;
    top: 0;
    width: 12em;
    height: 100vh;
    padding: 0 2em;
}

.sidebar img {
    align-content: center;
}

.sidebar li {
    margin-top: .8em;
}

.content {
    padding-left: 2em;
}

.title {
    display: flex;
    align-items: center;
}

.title a {
    margin-top: 1em;
    margin-left: 2em;
    cursor: pointer;
}

.line {
    border-top: 2px solid #dedede;
    margin: 2em 0;
}

.file {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file a {
    text-decoration: none;
    color: #1A202C;
}

.btn {
   border-radius: 2px;
   border: 1px solid rgba(156, 158, 156, 0.933);
}

.btn-sm {
    padding: 0 12px;
    font-size: 12px;
    line-height: 20px;
}


